::deep .positive-amount .mud-input>input.mud-input-root {
    color: green !important;
    text-align: end;
}


::deep .negative-amount .mud-input>input.mud-input-root {
    color: red !important;
    text-align: end;
}

::deep .mud-input>input.mud-input-root, div.mud-input-slot.mud-input-root {
    padding: 0 0 0 0;
}

::deep .mud-input-control {
    margin-top: unset;
}